[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/travelog/venv/bin/uwsgi -i /srv/travelog/.config/uwsgi/travelog.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target