<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Detail</title>
</head>
<body>
    
    <h1>Blog Detail 상세 페이지</h1>
    <p>{{ post.title }}</p>

    {% if post.thumbnail_image %}
        <p><img src='{{ post.thumbnail_image.url }}'></p>
    {% endif %}

    <p>{{ post.body|safe }}</p>
    <p>{{ post.updated_at|date:"Y년 m월 d일" }}</p>
    <hr>
    <p><a href="{% url 'blog:blog_list' %}">목록으로</a></p>

    {% if user == post.author %}
        <a href="{% url 'blog:blog_edit' post.pk %}">수정</a>
        <a href="{% url 'blog:blog_delete' post.pk %}">삭제</a>
    {% endif %}
</body>
</html>