{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block contents %}

<style rel="stylesheet">
    @media screen and (max-width: 768px) {
        p {
            font-size: 1rem !important;
        }
    }

    p {
        font-size: 1.125rem;
    }

    img, .thumbnail_image {
        max-height: 100vh;
        max-width: 100%;
        width: auto;
        margin: 0rem auto 0px;
        height: auto;
        object-fit: contain;
        display: block;
    }

    .thumbnail_image {
        margin: 2rem auto 0px;
    }

    
</style>


<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-7 g-5 pt-3">
            <h1 style="margin: 0 0 auto;">{{ post.title }}</h1>
            <p class="d-flex justify-content-between fs-6" style="margin-top: 2rem;">{{ post.author.nickname }} · {{ post.updated_at|date:"Y년 m월 d일" }}
                {% if user == post.author %}
                <span class="col-auto text-muted">
                    <a href="{% url 'blog:blog_edit' post.pk %}" class="p-2">수정</a>
                    <a href="{% url 'blog:blog_delete' post.pk %}">삭제</a>
                </span>
                {% endif %}
            </p>
            
            {% for tag in post.tags.all %}
                <span class="fs-6"><a href="{% url 'blog:blog_search' %}?q={{tag}}&sort=latest" class="btn btn-outline-primary rounded-pill" style="padding: 0 16px; margin-bottom: 0.5rem; margin-right: 0.5rem;">#{{ tag }}</a></span>
            {% endfor %}

        
            {% if post.thumbnail_image %}
                <p><img class="thumbnail_image" src='{{ post.thumbnail_image.url }}'></p>
            {% endif %}
        
            <p style="margin-top: 32px;" class="ck-body fs-6">{{ post.body|safe }}</p>
            <hr>
            <p class="mt-5 mb-5">
                <a href="{% url 'blog:blog_list' %}" class="btn btn-outline-secondary">← 목록으로</a>
            </p>
        
            
        </div>
    </div>

</div>

{% endblock %}