{% extends 'base.html' %}
{% load static %}
{% block contents %}
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

<div class="container">
    <div class="d-flex row flex-column justify-content-center">
        <div class="col-auto m-auto">
            <dotlottie-player src="https://lottie.host/201c6dc0-3a43-4c59-8fc7-99ea06a1c4e3/kCoWg2tiPD.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        </div>
        <div class="col text-center mt-5">
            <div class="fs-3 text-muted">Oops! 요청하신 페이지가 존재하지 않아요</div>
        </div>
        <div class="col-12 text-center">
            <a href="{% url 'home:home' %}" class="btn btn-secondary mt-5">홈으로</a>
        </div>
    </div>
</div>


{% endblock %}