{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}
<div class="banner"></div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col col-md-7 g-5 pt-3">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="card-title fs-2"><b>비밀번호 변경</b></div>
                        <hr>
                            <div class="row align-items-center" style="margin-top: 2rem;">
                                <div class="col-md-auto">기존 비밀번호 : </div>
                                {% render_field form.old_password class="col form-control" style="margin-right: 1rem; margin-left: 1rem;" %}
                            </div>
                            <div class="row align-items-center" style="margin-top: 1rem;">
                                <div class="col-md-auto">새 비밀번호 : </div>
                                {% render_field form.new_password1 class="col form-control" style="margin-right: 1rem; margin-left: 1rem;" %}
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    {{ form.new_password1.help_text }}
                                </div>
                            </div>
                            <div class="row align-items-center" style="margin-top: 1rem;">
                                <div class="col-md-auto">새 비밀번호 (확인) : </div>
                                {% render_field form.new_password2 class="col form-control" style="margin-right: 1rem; margin-left: 1rem;" %}
                            </div>
                            {%  if form.errors  %}
                                {% for error in form.errors.as_data.values %}
                                    {% for data in error.0 %}
                                        <div class="row mt-4">
                                            <div class="col">
                                                <div style="color: rgb(253, 64, 64);">{{data}}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            <div class="row mt-4">
                                <div class="col text-end">
                                    <button type="submit" class="card-link btn btn-outline-secondary">변경하기</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

<!-- <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">변경하기</button>
</form> -->