{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="banner"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-7 g-5 pt-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title fs-2"><b>회원정보</b></div>
                    <hr>
                    <div class="row align-items-center" style="margin-top: 2rem;">
                        <div class="col-md-auto">아이디 : </div>
                        <input class="col form-control" style="margin-right: 1rem; margin-left: 1rem;" value="{{ user.username }}" disabled></input>
                    </div>
                    <div class="row align-items-center" style="margin-top: 1rem;">
                        <div class="col-md-auto">닉네임 : </div>
                        <input class="col form-control" style="margin-right: 1rem; margin-left: 1rem;" value="{{ user.nickname }}" disabled></input>
                    </div>
                    <div class="row align-items-center" style="margin-top: 1rem;">
                        <div class="col-md-auto">이메일 : </div>
                        <input class="col form-control" style="margin-right: 1rem; margin-left: 1rem;" value="{{ user.email }}" disabled></input>
                    </div>
                    <div class="row mt-4">
                        <div class="col text-end">
                            <a href="{% url 'user:user_delete' user.pk %}" class="card-link btn btn-danger">회원 탈퇴</a>
                            <a href="{% url 'user:user_change_password' %}" class="card-link btn btn-outline-danger">비밀번호 변경</a>
                            <a href="{% url 'user:user_profile_update' user.pk %}" class="card-link btn btn-outline-secondary">수정</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}